body{
font: 20px Arial, sans-serif;
}


.navbar {
    background-color: #3ADF00;
}
.quem-somos{
    background-color: #A9BCF5;
    color: white;
}

.margin {
padding-bottom: 50px;
padding-top: 10px;
}

.parceiros {
    background-color: #2E9AFE;
}

.bg-footer{
    background-color: black ;
    color: white;
}
